<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Your CPT Stuck Point</h2>

    <p>Hello <%= @user.email %>,</p>

    <p>
      Attached is your stuck point from your CPT therapy work:
    </p>

    <p>
      <strong>Index Event:</strong> <%= @index_event.title %><br>
      <strong>Stuck Point:</strong> <%= @stuck_point.statement %>
    </p>

    <p>
      The attached PDF includes a list of all ABC Worksheets and Alternative Thoughts
      associated with this stuck point.
    </p>

    <p>
      Best regards,<br>
      CPT with Ross
    </p>
  </body>
</html>
