<p style="color: green"><%= notice %></p>

<h1>Traumas</h1>

<div id="traumas">
  <% @traumas.each do |trauma| %>
    <%= render trauma %>
    <p>
      <%= link_to "Show this trauma", trauma %>
    </p>
    <p>
      <%= link_to "Stuck points", trauma_stuck_points_path(trauma) %>
    </p>
  <% end %>
</div>

