<div class="d-flex align-items-center justify-content-between mb-1 sidebar-item-group" id="<%= dom_id(item) %>">
  <%= render 'shared/file_sidebar_title', item: item %>

  <div class="dropdown">
    <button class="btn btn-sm btn-link text-muted p-0 action-btn" type="button" data-bs-toggle="dropdown" style="font-size: 0.75rem;">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0">
      <li>
        <%= link_to [:edit, item],
            class: "dropdown-item small",
            data: { turbo_frame: dom_id(item, :title_frame) } do %>
          <i class="fa-solid fa-pen me-2"></i> Rename
        <% end %>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <div data-controller="delete-with-context">
          <%= button_to item, method: :delete,
              class: "dropdown-item small text-danger" do %>
            <i class="fa-regular fa-trash-can me-2"></i> Delete
          <% end %>
        </div>
      </li>
    </ul>
  </div>

</div>
