<% title_locals = { item: item } %>
<% title_locals[:is_active] = is_active if local_assigns.key?(:is_active) %>
<div class="d-flex align-items-center justify-content-between mb-1 pe-2 sidebar-item-group" id="<%= dom_id(item) %>">
  <%= render 'shared/file_sidebar_title', **title_locals %>

  <%= render 'shared/action_dropdown',
      item: item,
      edit_path: [:edit, item],
      delete_path: item,
      document_actions: document_actions(
        export_path: export_path_for(item),
        share_path: share_path_for(item)
      ) %>
</div>
