<div class="border-bottom pb-3 mb-4 bg-white sticky-top pt-2">
  <h5 class="fw-bold m-0">
    <% if local_assigns[:parent] %>
       <span class="text-muted"><%= parent %></span>
       <span class="text-muted mx-2">&gt;</span>
    <% end %>

    <span class="text-dark"><%= title %></span>
  </h5>
</div>
