<div class="border-bottom bg-white sticky-top px-3 d-flex align-items-center" style="min-height: 65px;">
  <h5 class="fw-bold m-0">
    <% Array(local_assigns[:parents]).each do |p| %>
      <span class="text-muted"><%= p %></span>
      <span class="text-muted mx-2">&gt;</span>
    <% end %>

    <span class="text-dark"><%= title %></span>
  </h5>
</div>
