<div data-controller="current-path" data-current-path-path-value="<%= resource_path %>"></div>

<%= render "shared/page_header", parents: parents, title: title %>

<div class="main-content p-4">
  <%= render partial_path, locals %>
</div>
