<div id="<%= dom_id impact_statement %>">
  <p>
    <strong>Content:</strong>
    <%= impact_statement.content %>
  </p>

  <p>
    <strong>IndexEvent:</strong>
    <%= impact_statement.index_event_id %>
  </p>

</div>
