<div data-controller="current-path" data-current-path-path-value="<%= index_event_impact_statement_path(index_event) %>"></div>

<%= render "shared/page_header",
    parents: index_event.title,
    title: "Impact Statement" %>

<%= render "impact_statements/impact_statement", impact_statement: impact_statement %>
