<h1>Editing impact statement</h1>

<%= render "form", impact_statement: @impact_statement %>

<br>

<div>
  <%= link_to "Return to index_event", index_event_path(@impact_statement.index_event) %> |
</div>
