<h1>Editing impact statement</h1>

<%= render "form", impact_statement: @impact_statement %>

<br>

<div>
  <%= link_to "Show this impact statement", @impact_statement %> |
  <%= link_to "Back to impact statements", impact_statements_path %>
</div>
