<p style="color: green"><%= notice %></p>

<% content_for :title, "Chats" %>

<div class="container">
  <h1 >Chats</h1>
  <div id="chats" class="container">
    <% @chats.each do |chat| %>
    <div class="card mb-2 p-2">
      <%= render chat %>
      <p>
        <%= link_to "Show this chat", chat %>
      </p>
    </div>
    <% end %>
  </div>

<%= link_to "Back to Challenges", challenges_path %>

</div>
