<h1>Editing stuck point</h1>

<%= render "form", stuck_point: @stuck_point %>

<br>

<div>
  <%= link_to "Show this stuck point", @stuck_point %> |
  <%= link_to "Back to stuck points", stuck_points_path %>
</div>
