<div class="containe bg-white mt-4 p-4">
  <h1>New stuck point</h1>

<%= render "form", stuck_point: @stuck_point %>

</div>

<br>

<div>
  <%= link_to "Back to stuck points", stuck_points_path %>
</div>
