.emotion-slider-header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;

  label {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 2rem;
  }

  .badge {
    position: absolute;
    right: 0;
  }
}
