<h6 class="fw-bold mb-0"><%= letter %><% if local_assigns[:required] %> <span class="text-danger">*</span><% end %></h6>
<div class="small text-muted"><%= title %></div>
<div class="small fst-italic text-muted">"<%= description %>"</div>
