<h1>Editing abc worksheet</h1>

<%= render "form", abc_worksheet: @abc_worksheet %>

<br>

<div>
  <%= link_to "Show this abc worksheet", @abc_worksheet %> |
  <%= link_to "Back to abc worksheets", abc_worksheets_path %>
</div>
