<p style="color: green"><%= notice %></p>

<h1>Abc worksheets</h1>

<div id="abc_worksheets">
  <% @abc_worksheets.each do |abc_worksheet| %>
    <%= render abc_worksheet %>
    <p>
      <%= link_to "Show this abc worksheet", abc_worksheet %>
    </p>
  <% end %>
</div>

<%= link_to "New abc worksheet", new_abc_worksheet_path %>
